ion-toolbar{
    --background: linear-gradient(to right, #2f162e, #517fa4);
    color : white;
}
ion-button{
    --background: linear-gradient(to right, #2f162e, #517fa4);
    color : white;
    --border-radius: 100px;
}

